@import '_abstracts';

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    margin: 0 0 0 0;

    & * {
        margin: 0 0 0 0;
    }

    h1 {

        font-family: 'Shrikhand', cursive;
        font-weight: 400;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    h3 {
        font-size: 1.125rem;
        font-weight: 700;
    }

    .grey-background {
        background-color: var(--background);
    }

    .white-background {
        background-color: white;
    }

    input {
        display: none;
    }

    .fa-heart {
        font-size: var(--heart-size);
    }
}

.main-container {
    @include flex(column);
}

.header {
    text-align: center;
    line-height: 1;

    &__title {
        background-color: #FFF;
        font-size: 2rem;
        padding: 16px 0;
        box-shadow: 0px 2px 4px 0px #00000026;
    }

}

.location-bar {
    text-align: center;
    background-color: var(--grey-2);
    padding: 16px 0;
    z-index: -1;

    &__txt {
        margin-left: 12px
    }
}

.explore {
    @include flex(column);
    align-items: center;
    text-align: center;
    padding: 32px 32px 48px;
    gap: 16px;

    &__title {
        padding: 0 24px;
    }

    &__txt {
        font-weight: 300;
        margin-bottom: 16px;
    }

    &__btn {
        @extend %pink-btn;
        transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
}

.steps {
    padding: 48px 24px 72px 32px;

    &__title {
        margin-bottom: 24px;
    }

    &__tiles-flex {
        @include flex(column);
        gap: 24px;

    }

    &__tile {
        @include flex(row);
        align-items: center;
        background-color: var(--background);
        border-radius: 24px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        font-weight: 500;
        gap: 24px;
        padding: 24px 0;

        * {
            position: relative;
            left: -12px;
        }

        &-number {
            text-align: center;
            line-height: 24px;
            background-color: var(--primary);
            border-radius: 50%;
            color: #FFF;
            height: 24px;
            width: 24px;
        }

        &-icon {
            text-align: center;
            color: gray;
            font-size: 1.25rem;
            width: 24px;

            &--purple {
                color: var(--primary);
            }
        }
    }
}


.restaurants {
    @include flex(column);
    padding: 48px 16px 72px;
    gap: 24px;

    &__block {
        @include flex(column);
        gap: 24px;

    }

    &__card {
        @include flex(column);
        border-radius: 15px;
        height: 256px;
        position: relative;

        &-link {
            position: absolute;
            inset: 0;
        }

        &-img {
            border-radius: 15px 15px 0 0;
            height: 70%;
            margin-bottom: 16px;
            object-fit: cover;
        }

        .La_palette_du_goût-img,
        .La_note_enchantée-img {
            object-position: center 58%;
        }

        .A_la_française-img,
        .Le_délice_des_sens-img {
            object-position: center 66%;
        }

        &-new {
            position: absolute;
            background-color: var(--green);
            color: var(--green-font);
            font-size: 0.875rem;
            font-weight: 500;
            padding: 6px 10px;
            inset: 13px 12px auto auto;
        }

        &-title,
        &-location {
            margin-left: 16px;
        }

        &-title {
            margin-bottom: 4px;
        }

        &-status-default,
        &-status-liked {
            position: absolute;
            inset: auto 24px 32px auto;
            transition: opacity 0.5s;
            cursor: pointer;
        }

        &-status-liked {
            opacity: 0;
            background: var(--heart-gradient);
            color: transparent;
            background-clip: text;
        }

        input[type=checkbox]:checked~.restaurants__card-status-liked {
            opacity: 1;
        }
    }
}

.footer {

    @include flex(column);
    background-color: var(--grey);
    color: #FFF;
    padding: 24px;
    gap: 8px;
    font-weight: 300;

    &__logo {
        font-family: 'Shrikhand', cursive;
        font-size: 1.25rem;
        font-weight: 400;
        margin-bottom: 8px
    }

    &__links {
        @include flex(column);
        gap: 8px;


        &-group {
            @include flex(row);
            font-weight: 400;
            gap: 12px;
            align-items: center;

            &-icon {
                width: 1rem;
                font-size: 1rem;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: #FFF;
    }
}


// ****************LOADER*******************

body {
    overflow: hidden;
    animation: scroll-true 1s ease 1s forwards;
}

@keyframes scroll-true {
    to {
        overflow: auto;

    }
}

.loader {
    @include flex(row);
    @include center-h-v;
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 999;
    font-family: 'Shrikhand', cursive;
    font-weight: 400;
    font-size: 2rem;
    animation: hide-loader 1.5s ease 1.5s forwards 1;
    color: var(--primary);

    & * {
        opacity: 0;
    }

    &__1,
    &__2 {
        animation: letter-anim 0.5s 0s forwards;
    }

    &__3,
    &__4 {
        animation: letter-anim 0.5s 0.5s forwards;
    }

    &__5,
    &__6,
    &__7,
    &__8 {
        animation: letter-anim 0.5s 1s forwards;
    }
}

@keyframes hide-loader {
    to {
        opacity: 0;
        visibility: hidden;
    }

}

@keyframes letter-anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// ****************RESPONSIVE*******************

// @media (min-width: 767.98px) {
@media (min-width: 1024px) {

    .header {
        &__title {
            padding: 32px 0;
        }
    }

    .explore {

        &__title {
            font-size: 2.5rem;
        }

        &__txt {
            font-size: 1.25rem;
        }

        &__btn:hover {
            opacity: 0.85;
            box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.25);
        }
    }

    .steps {
        margin: auto;
        max-width: 1080px;
        padding: 48px 24px 48px 32px;

        &__tiles-flex {
            @include flex(row);
            gap: 36px;
        }

        &__tile {
            flex: 1;
        }
    }

    .restaurants {
        margin: auto;
        max-width: 1080px;
        padding: 32px 24px 8px;

        &__block {
            @include flex(row);
            gap: clamp(24px, 6vw, 96px);
            margin-bottom: 24px;
        }

        &__card {
            flex: 1;
        }
    }

    .footer {
        @include flex(row-reverse);
        align-items: center;
        padding: 64px 64px 32px;
        gap: 64px;

        &__links {
            @include flex(row);
            gap: 24px;
        }

        &__link:hover {
            text-decoration: underline 2px;
        }
    }
}